NODE_ENV=production
PORT=3333
HOST=0.0.0.0

DB_HOST=acid-pgsql-server
DB_PORT=5432
DB_USER=admin
DB_PASS=GReiVIr9zdCBKErSjjrLNK6AYszwL0DRGHjD1eI50DiG79y8CbmeFpOeOoNcLYLy
DB_NAME=api_test

MAPQUEST_API_URL=http://www.mapquestapi.com/geocoding/v1/reverse
MAPQUEST_API_KEY=56GGVTpbemdtsztMfKrEzI0k57FidtjT
MAPQUEST_API_CACHE_TIMEOUT=3600

INTERNAL_CACHE_URL=http://127.0.0.1:3333/cache

REDIS_ENDPOINT_URI=redis://redis-server:6379
